/* ------- FONTS ------- */
/* ------- BORDERS ------- */
/* ------- BACKGROUNDS ------- */
/* ------- COLORS ------- */
/* ------- Indents ------- */
/* ------- Product Elements ------- */
/* ------- Buttons ------- */
/* ------- Buttons +/- ------ */
/* ------- Button Small ------- */
/* ------- Button exclusive-medium ------- */
/* ------- My Account List bg ------- */
/* ------- Product Listing ------- */
/* ------- Grid/List vars ------- */
/* ------- Pagination vars ------- */
/* ------- Product Info ------- */
/* ------- Cart Steps ------- */
/* ------- sub heading (h2,h3) define ------- */
/* ------- Image vars ------- */
header .nav .container {
  background: #405952; }

.nav ul#header_links li a {
  color: #2b3b36; }

.shopping_cart > a:first-child:before,
.header_user_info a {
  background: #fcaf17; }

#header .shopping_cart > a:first-child:hover,
#phone-block-top ul,
#currencies-block-top ul {
  background: #405952; }

#htmlcontent_top ul.htmlcontent-home li,
#phone-block-top ul li.selected,
#phone-block-top ul li:hover a,
#currencies-block-top ul li.selected,
#currencies-block-top ul li:hover a {
  background: #fcaf17; }

.footer-container:before,
ul.product_list.grid > li .product-container .button-container a:hover,
#htmlcontent_top ul.htmlcontent-home li + li {
  background: #405952; }

.header_user_info a:hover {
  background: #2b3b36; }

.content_scene_cat span.category-name,
.footer-container #footer .bottom-footer div a:hover,
.footer-container #footer #block_contact_infos > div ul li > span,
.footer-container #footer #block_contact_infos > div ul li i,
.footer-container #footer h4 a,
.footer-container #footer a:hover,
.footer-container #footer h4,
.footer-container #footer #social_block ul li a:hover,
.footer-container #footer #social_block h4,
#cmsinfo_block ul.links li a:hover,
#cmsinfo_block ul.links li:before,
.price.product-price,
#center_column ul.htmlcontent-home li .item-html h3,
#currencies-block-top div.current:hover,
#currencies-block-top div.current.active,
#currencies-block-top div.current:hover:after,
#phone-block-top div.current:hover:after,
#phone-block-top div.current:hover,
#phone-block-top div.current.active {
  color: #fcaf17; }

.footer-container #footer .bottom-footer div,
.footer-container #footer .bottom-footer div a,
#currencies-block-top div.current:after
#phone-block-top div.current:after {
  color: #2b3b36; }

.button.ajax_add_to_cart_button,
#cmsinfo_block em,
ul.product_list.grid > li .product-container .button-container a,
#home-page-tabs > li a:hover,
#home-page-tabs > li.active a,
#block_top_menu .sf-menu:before,
#block_top_menu .sf-menu > li.sfHover > a,
#block_top_menu .sf-menu > li > a:hover,
#block_top_menu .sf-menu > li.selected > a {
  background: #fcaf17; }

#homepage-slider .homeslider-description .p1 span,
#homepage-slider .homeslider-description h2 {
  color: #fcaf17; }

.button.ajax_add_to_cart_button:hover,
#home-page-tabs > li a,
#center_column ul.htmlcontent-home li .item-html span,
#homepage-slider .homeslider-description .a {
  background: #39504a; }

.price-percent-reduction {
  background: #39504a;
  border-color: #39504a; }

.block .title_block, .block h4 {
  border-color: #fcaf17; }

#category_description_short p strong {
  color: #405952; }

.content_scene_cat a.lnk_more {
  color: #fcaf17; }

#header .cart_block {
  background: #405952; }
  #header .cart_block .cart-buttons {
    background-color: #39504a; }
    #header .cart_block .cart-buttons a:hover {
      background: #fcaf17; }
      #header .cart_block .cart-buttons a:hover span {
        color: #fff; }

ul.product_list .functional-buttons div a,
ul.product_list .functional-buttons div label {
  color: #405952; }
  ul.product_list .functional-buttons div a:hover,
  ul.product_list .functional-buttons div label:hover {
    color: #fcaf17; }

#phone-block-top div.current:after,
#currencies-block-top div.current:after {
  color: #2b3b36; }

#block_top_menu .cat-title {
  background: #405952;
  border-color: #405952; }
  #block_top_menu .cat-title:hover {
    background: #fcaf17; }

#block_top_menu .sf-menu > li > ul > li > a:hover {
  color: #fcaf17; }

#center_column #htmlcontent_home ul.htmlcontent-home a span {
  background: #405952; }
#center_column #htmlcontent_home ul.htmlcontent-home a:hover span {
  background: #fcaf17; }

#block_top_menu .sf-menu > li:last-child:before {
  background: #fcaf17; }
#panel{
    background: #2b3b36;
}